.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      background: linear-gradient(145deg, #4a4a4a 0%, #4a4a4a 100%);
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;

      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:before {
        content: "";
        background: #bc04c7;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        background-position: 0;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
